/**
* @name E-Codz 
* @author E-Codz#4029
* @description GNOME's Cantarell font for Discord 
* @version 1.0
* @source https://github.com/ecodz/
*/

:root {
    --font-primary: "Cantarell", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    --font-display: "Whitney", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

@font-face {
    font-family: "Cantarell";
    font-style: normal;
    font-weight: 125 950;
    font-stretch: 75% 125%;
    src: url("https://cdn.jsdelivr.net/gh/GNOME/cantarell-fonts@0.10.1/otf/Cantarell-Regular.otf") format("otf");
}


